# 1. SENSITIVE FILES (AMABANGA) - Iyi niyo ituma app_config itajya kuri GitHub
lib/app_config.dart

# 2. MISCELLANEOUS
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# 3. BUILD AND TOOLING
/build/
.dart_tool/
.idea/
.vscode/

# 4. FLUTTER SPECIFIC
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# 5. ANDROID SPECIFIC
/android/.gradle/
/android/local.properties
/android/key.properties
/android/app/src/main/gen/
/android/app/build/
/android/gradle/
/android/gradlew
/android/gradlew.bat
*.keystore
*.jks

# 6. IOS SPECIFIC
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/engine.framework
/ios/Flutter/flutter_assets/
/ios/Runner/GeneratedPluginRegistrant.*
*.xcworkspace

# 7. IDE SPECIFIC
*.iml
*.ipr
*.iws